/*@url ('https://fonts.googleapis.com/css?family=')*/
 body{background-color:lightblue;
      padding: 0;
      margin: 0;
 	
 	 }
 header {text-align:center;
      margin-top: 4px;
      font-size: 1rem;
      text-shadow:  4px 4px 4px #aaa ;
 }
 #passport { 
         
          height:250px;
          width:180px;
          /*margin-bottom: 40px;*/
          border-radius:100% ;
          border:0.6em solid;
 }
 
 
 div.container1 {
         width:35%;
         float:left;
         margin-top:40px;
         padding: 10px;
 }

 
 div.container1 ul > p {
         text-decoration: underline; 
         background-color: lightblue;
         text-align: start;     

 }
 
  
 div.container1 p {
         background-color: yellow;
         border-radius: 30px;
         width: 40%;
         text-align: center;
 }
 
 div.container2 {
          background-color: yellow;
          width: 20%;
          height: 0%;
          float: left;
          border-radius: 30px;
          margin-left: 20px;
          margin-bottom: 50px;
          padding-bottom: 100px;
          padding-right: 40px;
 }
 
 
 div.container2 img{
          height:30px;
          width:80px;
          margin-left:80px;
          border-radius:30px;
          justify-content:space-between;
          padding:0, auto;
 }
 
 div.container2 p{ 
         background-color:yellow;
         border-radius:30px; 
         width:80px; 
         margin-left:80px;
         padding:4px;
 }
 div.container2 h4 {
        margin-top: 5px;
        text-align: center;
        font-size: 0.8rem;
 }
 
 
 
 
 div.container3{
         width: 35%;
         float:right;
         margin-top: 40px; 
         margin-right: 30px;
 }
 
  div.container3 .Lang p {background-color: yellow;
         border-radius: 30px;
         width: 40%;
         text-align: center;
         margin-left: 10px;
         
 }

  div.container3 ul > p {
         background-color: lightblue;
         text-decoration: none;

 }
 div.container3 .edu li {
        text-decoration: underline;
        list-style: none;
         border-radius: 30px;
         width: 80%;
         margin-left: 10px;
 }

#edu-p {
      background-color: yellow;
     border-radius: 30px;
      width: 40%;
     text-align: center;
     margin-left: 10px;
}

div.container3 .hob p {
      background-color: yellow;
     border-radius: 30px;
      width: 40%;
     text-align: center;
     margin-left: 10px;
}
 

 /* Responsive layout - makes a one container-layout instead of three containers */
  @media screen and (max-width: 768px) {
 
  header {text-align:center;
      margin-top: 10px;
      font-size: 0.6rem;
 }
   
 div.container1 p {
         width: 40%;
 }
 div.container1 {
         width: 100%;
         margin-top: 10px;
 }
 
 
 div.container2 {
          background-color: lightblue;
          width: 100%;
          margin-bottom: 0px;
 }
 #passport {
        justify-content: center;
 }
 
 div.container2 img{
          /*margin-left:80px;*/
          /*border-radius:30px;*/
          justify-content:space-between;
          padding: 0, auto;
 }
 
 div.container2 p{
          display: flex;
          flex-direction: start;  
         /*margin-left:80px;*/
         padding:4px; 
 }
 div.container2 h4 {
        text-align: start;
        font-size:0.8rem;
 }


 div.container3 {
         width: 100%;
         margin-top:-80px;
         padding: 10px;
         margin-right: 0px;
 }
 div.container3 .edu li {
         width: 100%;
 }

  }
  